<div
  id="eventHomeBody"
  [ngClass]="{ blur: showDeletePopup || showLogoutPopup }"
>
  <!-- <div class="main-head"> -->
  <div class="top-head">
    <button class="add-btn-grad" (click)="navigateToAddEvent()">
      Add Event
    </button>
    <button class="logout-btn-grad" (click)="showLogoutPopup = true">
      Logout
    </button>
  </div>
  <h1>My Events</h1>

  <!-- </div> -->
  <div class="search-sort-container">
    <input
      type="text"
      [(ngModel)]="searchText"
      (input)="searchEventManagementsByUserId()"
      placeholder="Search by event name..."
    />
  </div>

  <!-- <table class="table">
        <thead>
          <tr>
            <th>Photo</th>
            <th>Title</th>
            <th>Description</th>
            <th>Rental Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vacationRental of vacationRentals">
            <td>
              <img
                src="{{ vacationRental.photo }}"
                alt="Book Image"
                style="height: 100px; width: 100px; border:1px solid black; border-radius: 5px;"
              />
            </td>
            <td>{{ vacationRental.title }}</td>
            <td>{{ vacationRental.description }}</td>
            <td>{{ vacationRental.pricePerDay }}</td>
            <td>
              <div class="buttons"><button
                class="edit-btn-grad btn-primary"
                (click)="navigateToEditBook(vacationRental)"
              >
                Edit
              </button>
              <button
                class="delete-btn-grad btn-danger"
                (click)="showDeletePopup = true; selectedBook = vacationRental"
              >
                Delete
              </button>
            </div><hr class="hr"/>
              
              <button class="view-btn-grad" (click)="viewInfo(vacationRental)">View Info</button>
            </td>
          </tr>
        </tbody>
      </table> -->

  <div class="grid-container">
    <div class="grid-item" *ngFor="let event of events">
      <img src="{{ event.coverImage }}" alt="Book Image" class="vacationRental-image" />
      <div (click)="viewInfo(event)">
      <h2>{{ event.title }}</h2>
      <p>{{ event.description }}</p>
      <p>Start Date: {{ event.startDate | date:'yyyy-MM-dd'}}</p>
    </div>
      <div class="buttons">
        <button
          class="delete-btn-grad btn-danger"
          (click)="
            showDeletePopup = true;
            selectedEvent = event;
            $event.stopPropagation()
          "
        >
          Delete
        </button>
        <button
          class="edit-btn-grad"
          (click)="navigateToEditEvent(event); $event.stopPropagation()"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showDeletePopup" class="delete-popup">
  <p>Are you sure you want to delete?</p>
  <button
    (click)="deleteEventManagement(selectedEvent); showDeletePopup = false"
    id="delete-btn"
  >
    Yes, Delete
  </button>
  <button (click)="showDeletePopup = false">Cancel</button>
</div>

<div *ngIf="showLogoutPopup" class="logout-popup">
  <p>Are you sure you want to logout?</p>
  <button (click)="logout(); showLogoutPopup = false" id="logout-btn">
    Yes, Logout
  </button>
  <button (click)="showLogoutPopup = false">Cancel</button>
</div>

<div class="modal" [ngStyle]="{ display: showModal ? 'block' : 'none' }">
  <div class="modal-content">
    <span class="close" (click)="toggleModal()">&times;</span>
    <h2>Details</h2>
    <div class="image-container">
      <!-- <table>
            <tr>
              <th>Title</th>
              <td>{{ selectedItem.title }}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{ selectedItem.description }}</td>
            </tr>
            <tr>
              <th>Price per day</th>
              <td>{{ selectedItem.pricePerDay }}</td>
            </tr>
            <tr>
              <th>Property Type</th>
              <td>{{ selectedItem.propertyType }}</td>
            </tr>
            <tr>
              <th>Number of Bedrooms</th>
              <td>{{ selectedItem.noOfBedroom }}</td>
            </tr>
            <tr>
              <th>Amenities</th>
              <td>{{ selectedItem.amenities }}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{ selectedItem.location }}</td>
            </tr>
          </table> -->
      <p><strong>Description:</strong> {{ selectedItem.description }}</p>
      <p><strong>Location:</strong> {{ selectedItem.location }}</p>
      <p><strong>Start Date:</strong> {{ selectedItem.startDate | date:'yyyy-MM-dd'}}</p>
      <p><strong>End Date:</strong> {{ selectedItem.endDate | date:'yyyy-MM-dd'}}</p>
    </div>
  </div>
</div>
