<div class="main-container">
    <div class="sub-container">
<button class="back-btn" (click)="goBack()">Back</button>

<h1>Create New Event</h1>

<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title">
      <div *ngIf="eventForm.get('title').hasError('required') && eventForm.get('title').touched">
        *Title is required.
      </div>
    </div>

    <div class="form-group">
        <label for="coverImage">Cover Image:</label>
        <input type="file" id="coverImage" formControlName="coverImage" (change)="handleFileChange($event)" accept=".png, .jpg">
        <div *ngIf="eventForm.get('coverImage').hasError('required') && eventForm.get('coverImage').touched">
            *Photo is required.
        </div>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description"></textarea>
        <div *ngIf="eventForm.get('description').hasError('required') && eventForm.get('description').touched">
         *Description is required.
        </div>
      </div>

    <div class="form-group">
        <label for="category">Category:</label>
        <select id="category" formControlName="category">
            <option value="">Select a category type</option>
            <option *ngFor="let type of categories" [value]="type">{{type}}</option>
        </select>
        <div *ngIf="eventForm.get('category').hasError('required') && eventForm.get('category').touched">
            *Property Type is required.
        </div>
    </div>


    <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" id="location" formControlName="location">
        <div *ngIf="eventForm.get('location').hasError('required') && eventForm.get('location').touched">
            *Location is required.
        </div>
    </div>

    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" formControlName="startDate">
        <div *ngIf="eventForm.get('startDate').hasError('required') && eventForm.get('startDate').touched">
            *Start Date is required.
        </div>
    </div>

    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" formControlName="endDate">
        <div *ngIf="eventForm.get('endDate').hasError('required') && eventForm.get('endDate').touched">
            *Start Date is required.
        </div>
    </div>

  <div class="button-submit">
    <button class="button-submit" type="submit" >Create Event</button>
  </div>
    <div *ngIf="errorMessage" class="error-message">
      *{{ errorMessage }}
    </div>

    
  </form>
  
  </div>
</div>