h1 {
    /* color: #3498db; */
    color: #331f1f;
    text-align:center !important;
    font-weight: bold;
  }
  
  button {
    background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .btn-primary {
    background-color: #3498db;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 25px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    color: black;
  }
  
  /* Optional: Add hover effect for table rows */
  /* tr:hover {
    background-color: #f5f5f5a9;
    color: black;
  } */
  
  .main-head {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
  }
  
  .top-head {
    display: flex;
    justify-content: flex-end;
    margin: 20px;;
  }
  
  .search-sort-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: black;
  }
  
  .search-sort-container input {
    width: 100%;
  }
  
  label {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  input {
    box-sizing: border-box;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    margin-bottom:20px;
  }
  
  
  
  #eventHomeBody.blur{
    filter: blur(3px);
  }
  
  .logout-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f9fa;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
    color:black;
    border:2px solid black;
  }
  
  .delete-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f9fa;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
    color:black;
    border:2px solid black;
  }
  
  .delete-popup p, .logout-popup p {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .delete-popup button, .logout-popup button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 4px 2px;
  }
  
  .delete-popup button:first-child, .logout-popup button:first-child {
    background-color: #dc3545; 
    color: white; 
  }
  
  .delete-popup button:first-child:hover, .logout-popup button:first-child:hover, #delete-btn , #logout-btn {
    background-color: #c82333; 
    color:white
  }
  
  .delete-popup button:last-child, .logout-popup button:last-child {
    background-color: #6c757d; 
    color: white;
  }
  
  .delete-popup button:last-child:hover, .logout-popup button:last-child:hover {
    background-color: #5a6268; 
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 12% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    color: black;
    font-size: 20px;
    border-radius: 10px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Additional styling for modal content */
  .modal-content p {
    margin: 10px 0;
  }
  
  /* Styling for modal close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #333;
    text-decoration: none;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 1rem;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:grab;
  }
  
  .vacationRental-image {
    height: 300px;
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
  }

  .image-container{
    display: flex;
    flex-direction: column;
  }
  
  .buttons{
    display:flex;
  }
  
  h2{
   text-align: center;
  }
  
  hr{
    border: 1px solid #ddd;
  }

  .logout-btn-grad{
    margin-left: 10px;
  }

  .edit-btn-grad{
    background-color: #4caf50;
    margin-left: 20px;;
  }